.btn-color {
    background-color: #000;
    color: #fff;
  
  }
  
  .profile-image-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  
  
  .cardbody-color {
    background-color: #52ACFF;
  }
  
  a {
    text-decoration: none;
  }
  